header{
    background-color: yellow;
    nav{
        div{
            a{
                img{
                    width: 200px; height: 80px;
                }
            }
            .navbar-toggler{
                border: 2px solid blue;
            }
        }
    }
}