.centro{
    display: grid;
    grid-template-areas: 
    "carrusel"
    "servicios"
    "ubicacion"
    "info";
    .carrusel{
        position: relative;
        width: 100%;
        height: 50vh;
        background-image: url(../img/pexels-gerd-altmann-21694.jpg);
        background-position: center;
        background-size: cover;
        transition: all .1s ease-in-out;
        animation: banner 28s infinite linear;
        .banner-content{
            width: 100%;
            height: 100%;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.498);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .servicios{
        background-color: rgb(49, 49, 49);
        .titulo-servicios{
            p{
                font-family: 'Times New Roman', Times, serif;
                font-size: 30px;
                text-align: center;
                color: yellow;
            }
        }
        .logos-servicios{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .btn-servicio{
                text-decoration: none;
                .logo{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid yellow;
                    border-radius: 90%;
                    margin: 25px;
                    width: 110px;
                    height: 110px;
                    img{
                        margin-left: 10 px;
                        width: 50px;
                        height: 50px;
                    }
                    p{
                        color: yellow;
                        text-align: center;
                    }
                }
            }
        }
    }
    .ubi{
        grid-area: ubicacion;
        background-color: rgb(49, 49, 49);
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            color: yellow;
        }
        .ubi-google{
            iframe{
                width: 200px;
                height: 300px;
            }
        }
    }
    .info{
        border: 2px solid  rgb(49, 49, 49);
        grid-area: info;
        background-color: rgb(49, 49, 49);
        .titulo-info{
            p{
            font-size: 30px;
            color: rgb(255, 255, 0);
            text-align: center;
            }
        }
        .cuerpo-info{
            p{
                font-size: 20px;
                color: #fff;
                text-align: center;
            }
        }    
    }
    .wpp{
        a{
            .wpp-logo{
                position: fixed;
                bottom: 10px;
                right: 20px;
                width: 50px;
                height: 50px;
            }
        }
    }
}
@keyframes banner {
    0%{
        background-image: url(../img/pexels-gerd-altmann-21694.jpg);
    }
    25%{
        background-image: url(../img/pexels-gerd-altmann-21694.jpg);
    }
    26%{
        background-image: url(../img/pexels-andrea-piacquadio-3806252.jpg);
    }
    50%{
        background-image: url(../img/pexels-andrea-piacquadio-3806252.jpg);
    }
    51%{
        background-image: url(../img/banner-2.jpg);
    }
    75%{
        background-image: url(../img/banner-2.jpg);
    }
    76%{
        background-image: url(../img/banner-1.jpg);
    }
    100%{
        background-image: url(../img/banner-1.jpg);
    }
}